/*fib seq number ref 21, 34, 55, 89, 144, 233, 377, 610*/
/*colour hex codes bright pink:#BF1784 magenta:#BF1792 deep purps:#301840 bright purpls:#4C17BF violet:#704BBF light blue:#9BF2F2*/
body {
    background-color: #301840;
    color: #9BF2F2;
    background-image: repeating-radial-gradient(55px, #301840, #9BF2F2, #4C17BF );
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    /*position: relative;*/
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    user-select: none;
}

/*this is where the player is contained*/
#container {
    margin: auto;
    margin-bottom: 21px;
    width: auto;
    max-width: 750px;
    min-width: 233px;
    height: auto;
    background-color: #4C17BF;
    background-image: repeating-radial-gradient(21px, #4C17BF, #BF1784);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    align-items: center;
    /*this aligns all items to center of the container box*/
    justify-content: center;
}

/*container for the play button*/
#playcontainer {
    margin: 21px;
    width: auto;
    height: 89px;
    position: relative;
    /*padding-left: 34px;*/
    align-items: center;
    /*justify-content: center;*/
}

/*this is a container for the time to make box size flex when changing size of the screen*/
#timecontainer {
    display: flex;
    width: 144px;
    position: relative;
    align-items: center;
    justify-content: center;
}

/*styling of the play button itself*/
#playstatic {
    width: 89px;
    height: 89px;
    cursor: pointer;
    /*padding-left: 30px;
    padding right: 30px;
    animation: neon 1.5s ease-in-out infinite alternate;*/
}

/*place an image of the song selector next to the play button*/



/*#playstatic:nth-child{
    animation: neon 1.5s ease-in-out infinite alternate;
}*/

#currenttime {
    font-size: 1.5rem;
    width: 45px;
}

#slash {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

#totaltime {
    font-size: 1.5rem;
    width: 45px;
}

#seek {
    margin: 21px;
    width: 233px;
}

/*image containers*/
#mandala {
    margin: auto;
    width: 233px;
    height: 233px;
    display: flex;
}

#bulb {
    margin: auto;
    width: 233px;
    height: 233px;
    display: flex;
}

#crab {
    margin: auto;
    width: 233px;
    height: 233px;
    display: flex;
}

.songselector {
    position: relative;
    display: flex;

}

#gallerycontainer {
    margin: auto;
    width: 750px;
    height: 144px;
    /*border-style: solid;*/
}

/*image container*/
.gallery {
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    border-radius: 25px;
    padding: 0px;
}
.gallery h4{
    position: relative;
    font-size: 1rem;
}
/*this puts the images to select songs in a box*/
.gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 34px;
    border-style: solid;
    border-width: 5px;
    border-color: #BF1784;
}


/*hover over image indicator*/
.gallery li img:hover {
    border-color: #BF1784;
    opacity: 55%;
    cursor: pointer;
}

#volcont{
    position: relative;
    width: 130px;
}
#volume{
    rotate: -90deg;
    position: absolute;
    left: -55px;
    width: 89px;
    
    
}

/*changing the style of the input slider*/
input[type=range]{
    -webkit-appearance: none;
    /*margin-right: 15px;
    width: 200px;*/
    height: 8px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: radial-gradient( #9BF2F2, #301840);
    background-repeat: no-repeat;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #9BF2F2;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  vertical-align: middle;
}

/*neon animation code - 
@keyframes neon{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;;
    }
}*/